<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241189201644-05kjd87es9qk052v1h1uqnetpvmt0tlv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241189201644-05kjd87es9qk052v1h1uqnetpvmt0tlv</string>
	<key>API_KEY</key>
	<string>AIzaSyDEx141xVDN0iNu2zBWwXGYR687NtKCaQU</string>
	<key>GCM_SENDER_ID</key>
	<string>241189201644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoapp</string>
	<key>PROJECT_ID</key>
	<string>uniquesofindia-c325f</string>
	<key>STORAGE_BUCKET</key>
	<string>uniquesofindia-c325f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241189201644:ios:a6c1b074b918d0e74067c9</string>
</dict>
</plist>